body{
    background-color: #eceef1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
header{
    height: 100px;
    position: relative;
}
.header-text{
    font-size: 12px;
    position: absolute;
    right: 140px;
    top: 10px;
}
.header-text2{
    color: #0077c5;;
    font-size: 12px;
    position: absolute;
    right: 140px;
    top: 25px;
    }
.signin{
    background-color: #0077c5;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
 /*   height: 38px; */
    position: absolute;
    right: 15px;
    top: 17px;
 /*   width: 100px;  */  
}
.intuit-logo{
    height: 100px;
}
.applications{
    margin-bottom:15px;
}
.logo-icon{
    margin-left:10px;
}
.main-form{
    background-color: #ffffff;
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    width: 350px;
    
}
.create-account{
    font-size: 18px;
}
.welcome{
    font-size: 12px;
}
.more-info{
    color: #0077c5;
    font-size: 10px;
}
.form-header{
    border: none;
}
.disclaimer{
    font-size: 12px;
    font-style: italic;
    padding: 2%;
}
.button-section{
    border: none;
}
.login-button{
    background-color: #0077c5;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    height: 44px;
    width: 95%;
}
.form-fields{
    border: none;
    font-size: 14px;
    text-align: center;
}
label{
    display: block;
    margin-bottom: 15px;
    text-align: left;
}
input{
    margin-bottom: 15px;
    margin-top: 3px;
    padding: 6px;
    width: 90%;
}
.copyright-section {
    background-color: #eceef1;
    border: none;
    font-size: 10px;
}
.footer{
    font-size: 14px;
    margin-top: 15px;    
}
.legal{
    display: block;
    font-size: 12px;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}